* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

#main-container {
    height: 400px;
    width: 300px;
    background-color: #fff382;
    border-radius: 5px;
    margin: 0px;
}

#header {
    padding: 0px;
    width: 100%;
    /* border: solid black 1px; */
}

h1 {
    padding: 15px;
    margin-top: 0px;
    text-align: center;
}