body {
    height: 400px;
    width: 300px;
    border: solid 1px red;
    margin: 0px;
}

#header {
    margin: 10px 0px 10px 0px;
    padding: 0px;
    width: 100%;
    border: solid black 1px;
}

h1 {
    padding: 0px;
    margin: 0px;
}