* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
}

#header {
    padding: 0px;
    width: 100%;
    /* border: solid black 1px; */
}

#main-container {
    height: 400px;
    width: 300px;
    background-color: #fff382;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#content {
    text-align: center;
}

h1 {
    padding-top: 20px;
    margin-top: 0px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
}

p {
    height: 20px;
    font-size: x-large;
    padding-bottom: 20px;
}

button {
   background-color: black;
   color: white;
   padding: 10px 25px 10px 25px; 
   border: none;
   font-size: larger;
   font-weight: semi-bold;
   border-radius: 5px;
   margin: 10px 0px 10px 0px;
}

button:hover {
    cursor: pointer;
    background: gray;
}

